:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.nav a {
  display: inline-block;
  margin: 10px;
  color: white;
  text-decoration: none;
}

.nav a.active {
  color: rgb(255, 230, 0);
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(255, 230, 0);
}
